#root {
  max-width: 1280px;
  min-width: 500px;

  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

  display: flex;
  align-items: center;
}

.app-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 90%;
  width: 100%;
  padding: 1rem 1rem;
  margin: 1rem;
  /* background-color: rgb(144, 208, 238); */
  border-radius: 20px;
  border: 1px solid rgb(104, 70, 68);
}

.app-header{
  padding-left: 2%;
  /* background-color: gray; */
  text-align: left;
}

.textbox-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;

  min-height: 50%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1.2rem 0;
}

/* .textbox-wrapper input{
  min-height: 50%;
  border-radius: 10px;
} */