

.quick-tools-wrapper{
    display: flex;
    justify-content: start;
    /* height: 40px; */
    width: 96%;
    border-radius: 8px;
    /* background-color: rgba(128, 128, 128, 0.2); */
    margin: 0.3rem;
    padding: 0;
} 

.quick-tools-wrapper button{
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.9);
    color: black;
    height: 40px;
    width: 5%;
    padding: 0.2rem;
    margin: 0.2rem;
}